@font-face {
    font-family: "Norwester";
    src: url("/assets/norwester.otf");
}

:root {
    --body-bg: rgb(245, 245, 245);
    --font-colour: black;
    --tab-bg: rgb(255, 255, 255);
    --tab-border: rgb(235, 235, 235);
    --credits-border: rgb(212, 212, 212);
}
body.dark {

    --body-bg: rgb(24,24,24);
    --font-colour: rgb(201, 201, 201);
    --tab-bg: rgb(19, 19, 19);
    --tab-border: rgb(32, 32, 32);
    --credits-border: rgb(212, 212, 212);

}
body.dark header h1 {
    color: #fffea1;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.2s;
    color: var(--font-colour);
}
body {
    background-color: var(--body-bg);
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
}
header * {
    margin: 0;
    margin-right: 10px;
}
header h1 {
    font-weight: 900;
    font-family: "Norwester";
}
header h3 {
    font-style: italic;
    filter: opacity(50%);
    padding-top: 5px;
}
nav {
    display: flex;
    user-select: none;
}
nav a {
    min-width: 0px;
    padding: 0px 10px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: var(--tab-bg);
    text-decoration: none;
    color: black;
    border: 2px solid var(--tab-border);
    box-sizing: border-box;
    line-height: 10px;
    filter: opacity(50%);
}
nav a:hover {
    filter: opacity(75%);
}
nav a.selected {

    filter: opacity(100%);
    border-bottom: 0;
    z-index: 999;
    transform: translateY(2px);

}

main {

    background-color: var(--tab-bg);
    color: var(--font-colour);
    border: 2px solid var(--tab-border);
    padding: 10px;

    padding-bottom: 50px;

}

.special {
    font-style: italic;
    filter: opacity(50%);
}
.credits-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.credits-list .credits-item {

    width: 500px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    border: 2px solid var(--credits-border);
    box-sizing: border-box;
    border-left: 0;
    border-right: 0;
    font-weight: 500;
    padding: 5px 0px;
    margin-top: -2px;

}
.credits-list .credits-contri {
    display: flex;
    flex-direction: column;
    text-align: right;
    filter: opacity(75%);
    font-weight: 400;
}

#abnotable th, #abnotable tr {
    padding: 0px 20px;
    text-align: center;
}

.abno-row {
    cursor: pointer;
    user-select: none;
}
.abno-row img {
    width: 60px;
    height: 60px;
}
.abno-row .risklevel span {
    display: inline-block;
    background-color: black;
    padding: 5px 10px;
    font-weight: 900;
    width: 60px;
}
span.ZAYIN {
    color: rgb(0, 255, 0);
}
span.TETH {
    color: rgb(0, 81, 255);
}
span.HE {
    color: rgb(255, 217, 0);
}
span.WAW {
    color: rgb(153, 0, 255);
}
span.ALEPH {
    color: rgb(255, 0, 0);
}

.abnoinfo {
    display: flex;
}
.abnoinfo div.content {
    width: 100%;
}
.abnoinfo .icon {
    width: fit-content;
}
.abnoinfo .content {
    padding: 0px 10px;
}
#abnoicon {
    height: 250px;
    width: 250px;
}
.abnoid {
    filter: opacity(25%);
}
#abnoheader * {
    margin: 0;
}
#abnoheader h3 {
    margin-bottom: 10px;
    font-style: italic;
    filter: opacity(50%);
    font-size: 14px;
}

.changethemebtn {
    border: 0;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    text-align: center;
    padding: 2px;
    cursor: pointer;
}
.changethemebtn img {
    width: 20px;
    height: 20px;
    margin: 0;
}

.ego {
    width: 600px;
    text-align: right;
    display: flex;
    flex-direction: column;
    user-select: none;
}
.ego .armoury {
    display: flex;
    flex-direction: row;
}
.ego .armoury div {
    width: 100%;
}
.ego h2 {
    filter: opacity(50%);
    font-size: 14px;
    margin: 0;
    margin-right: 2px;
    margin-top: 2px;
}

.ego .gift, .ego .suit, .ego .weapon {

    border: 2px solid var(--tab-border);

}
.ego .info {
    text-align: left;
}
.ego .armoury .info {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.ego .armoury .thumbnail {
    display: flex;
    justify-content: center;
}
.armoury .thumbnail img {
    background-color: red;
    width: 150px;
    height: 85px;
}
.gift .content {
    display: flex;
    flex-direction: row;
    padding: 0px 5px;
    padding-bottom: 5px;
    padding-top: -5px;
}
.gift .content img {
    width: 60px;
    height: 60px;
    background-color: red;
}
.gift .content .info {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    box-sizing: border-box;
}
.gift .content .info b {
    margin-top: -5px;
}
.gift .content .info span {
    font-size: 12px;
    margin-top: -2px;
}
span#desc h1 {
    margin: 0;
}